$side-menu-width: 70%
$ulb-blue: #004D95
$ulb-alt: #0683fb

/* put toggle bars on the left :: not using button
.navbar-fixed-top
  background-color: $ulb-blue
  a
    color: #ccc
    &:hover
      color: white
  .glyphicon
    padding-right: 8px
  .active a
    background-color: $ulb-alt
  .navbar-toggle
    cursor: pointer
    position: relative
    line-height: 0
    float: left
    margin: 0
    width: 30px
    height: 40px
    padding: 10px 0 0 0
    border: 0
    background: transparent
    > .icon-bar
      width: 100%
      display: block
      height: 3px
      margin: 5px 0 0 0
    &.slide-active .icon-bar
      background: orange

/* icon bar prettyup - optional
.navbar-header, .navbar.navbar-fixed-top.slide-active
  position: relative
